name: Deploy to VPS

on:
  push:
    branches:
      - main
      - dev

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Build Docker image
        run: docker build -t ghcr.io/${{ github.repository }}/insert-gossip:latest .

      # Authenticate GHCR (GitHub Container Registry)
      - name: Authenticate to GHCR
        run: echo "${{ secrets.TOKEN }}" | docker login ghcr.io -u $GITHUB_ACTOR --password-stdin

      # Push Docker Image
      - name: Push Docker Image
        run: docker push ghcr.io/ln-history/insert-gossip:latest

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_PRIVATE_KEY }}
          port: 22
          script: |
            cd ~/docker/insert-gossip
            git checkout ${{ github.ref_name }}
            git pull origin ${{ github.ref_name }}
            docker-compose down
            docker-compose up -d --build